<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.amazonaws.services.lambda.runtime.log4j2.LambdaAppender">
    <Appenders>
        <Lambda name="Lambda">
            <PatternLayout>
                <pattern> %c{1}:%L %-5p - %m | epoch : %d{UNIX_MILLIS} | aws-id : %X{AWSRequestId} | %X{ESTraceId} %n</pattern>
            </PatternLayout>
        </Lambda>
    </Appenders>
    <Loggers>
        <Root level="${env:log_level:-debug}">
            <AppenderRef ref="Lambda"/>
        </Root>
    </Loggers>
</Configuration>